#root {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 2rem;
  text-align: center;
  user-select: none;

  --orange-light: rgb(241, 138, 100);
  --orange-medium: rgb(177, 80, 45);
  --orange-dark: rgb(125, 61, 37);
}

/* ===== Header Section ===== */

.header {
  background-color: #0b0b0b;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.25s;
  height: 100px;
  color: var(--orange-light)
}

.fade {
  opacity: 0;
  z-index: -1;
}

.title, .subtitle {
  margin: 0 12px;
}
.subtitle {
  color: #f0f0f0;
}

/* ===== Form Section ===== */

.form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
}

.form-title {
  color: #8a8a8a;
}

li {
  list-style: none;
}
li.form {
  width: 300px;
  padding: 18px;
  margin: 8px;
  background-color: #0b0b0b;
  box-shadow: 0 7px #191919;
  transition: all 0.5s;
}
li.form:hover {
  scale: 1.05;
  box-shadow: 0 2px var(--orange-dark)
}

li.form h2 {
  color: rgb(241, 138, 100);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #242424 inset !important;
}

.textbox {
  width: 75%;
  height: 32px;
  border: none;
  text-align: center;
  background-color: #242424;
  transition: width 0.5s;
}
.textbox:focus-visible {
  outline: none;
}
.textbox:hover {
  width: 85%;
}

.submit-button {
  margin: 12px;
  width: 200px;
  height: 100px;
  font-size: 1.8em;
  background-color: var(--orange-medium);
  box-shadow: 0 7px var(--orange-dark);
  transition: all 0.5s;
}
.submit-button:hover {
  scale: 1.05;
}
.submit-button:active {
  box-shadow: 0 3px var(--orange-dark);
  transform: translateY(4px);
}

/* ===== Current Image Section ===== */

.screenshot {
  width: 100%;
  margin: 12px auto;
}

/* ===== Query Status Section ===== */

.query-container {
  background-color: #0b0b0b;
  width: 100%;
  padding: 12px;
  margin-top: 12px;
}

.query-sequence span {
  color: #8a8a8a;
}

/* ===== Gallery Section ===== */

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  max-width: 350px;
}
.image {
  max-width: inherit;
}

/* ===== Pop-Up Section ===== */

.page-container {
  position: relative;
}

.popup-container {
  backdrop-filter: grayscale(1) blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}

.popup-wrapper {
  width: 300px;
  padding: 24px;
  line-height: 12px;
  background: var(--orange-medium);
  box-shadow: 0 7px var(--orange-dark);
  transition: all 0.25s;
}

.popupHidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s linear;
}

.popup-button {
  background-color: #0b0b0b;
  box-shadow: 0 7px #191919;
  transition: all 0.25s;
}
.popup-button:hover {
  scale: 1.05;
}
.popup-button:active {
  box-shadow: 0 3px #2c2c2c;
  transform: translateY(4px);
}

@keyframes loading {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}
.loading {
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes elipses {
  0% {
      content: "";
  }
  25% {
      content: ".";
  }
  50% {
      content: "..";
  }
  75% {
      content: "...";
  }
  100% {
      content: "";
  }
}
.elipses::after {
  content: "";
  animation-name: elipses;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}